body {
	background-color: #C0C0C0;
	padding-top: 35px;
	padding-bottom: 35px;
}
b, strong {
    color: #F81472;
}

.card {
	margin-top: 35px;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.fa-heart {
	color: #A81010;
}

.form-control {
	margin-top: 30px;
	margin-bottom: 30px;
}

.img {
	margin-bottom: 100px;
}

.list-group {
	margin-bottom: 100px;
}

h1 {
	color: #F81472;
	text-transform: uppercase;
}
h5 {
	color: #F81472;
	text-transform: uppercase;
}

h1.page-header {
	margin-top: 1rem;
}
//*Scrollbar for chrome*//
::-webkit-scrollbar-track
{
	border: 1px solid #F81472;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #F81472;
}
